<section>
    <div class="row padding-one-tb xs-margin-one-tb">
        <div class="col-md-12 col-sm-12 col-12 no-margin-tb display-table">
            <div class="sec3Title">
                <h1>Clientele</h1>                        
                <h2 style="margin-bottom: 6rem;">Can't Wait to See Your Name Here</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="overflow-hidden margin-40px-tb sm-margin-20px-tb">
            <div class="flex right-to-left">
                <div class="ccf_icon varmora"></div>
                <div class="ccf_icon matilde"></div>
                <div class="ccf_icon osc"></div>
                <div class="ccf_icon cakespace"></div>
                <div class="ccf_icon tbc"></div>
            </div>
        </div>
        <div class="overflow-hidden margin-40px-tb sm-margin-20px-tb">
            <div class="flex  left-to-right">
                <div class="ccf_icon boubouparis"></div>
                <div class="ccf_icon varmora"></div>
                <div class="ccf_icon matilde"></div>
                <div class="ccf_icon osc"></div>
                <div class="ccf_icon cakespace"></div>
            </div>
        </div>
        <div class="overflow-hidden margin-40px-tb sm-margin-20px-tb">
            <div class="flex right-to-left">
                <div class="ccf_icon tbc"></div>
                <div class="ccf_icon boubouparis"></div>
                <div class="ccf_icon varmora"></div>
                <div class="ccf_icon matilde"></div>
                <div class="ccf_icon osc"></div>
            </div>
        </div>
    </div>
</section>