<section class="icons-sec">
    <div class="sec2-container container">
        <div class="sec2-row">
            <div class="col-xl-4 col-lg-3 col-md-12 col-12">
                <div class="recogniz_text">
                    <p class="text-40 sm-text-28 font-weight-300 text-black text-transform-uppercase no-margin-bottom">
                        Accredited<br><p>
                        </p><strong class="font-weight-600 text-yellow-500">by</strong></p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 col-12">
                <div class="social_img no-padding">
                    <div class="social_icon nasscom"></div>
                    <div class="social_icon gesia"></div>
                    <div class="social_icon clutch"></div>
                    <div class="social_icon goodfirms"></div>
                    <div class="social_icon iso_iec"></div>
                    <div class="social_icon gesia iso"></div>
                </div>
            </div>
        </div>
    </div>
</section>