<section class="itso_sec scroll_sec relative">
    <div class="sec3-row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="sec3Title">
                <h1 class="text-5xl leading-tight uppercase text-transparent ">
                    Checkout</h1>
                <h2 class="text-2xl leading-tight mb-8">Development Process Followed @Aglowid</h2>
    
            <p class="text-justify w-90 xs:w-full">Once you contact us via any preferred medium for your web/app development requirement, we will go through our result oriented project management process ensuring that no communication barrier issue will occur while developing your valuable dream project.</p>
       </div>
     </div>
    </div>
    
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
                <div class="sec3-row mt-20">
                    <div class="swiper swiperhorslid">
                        <div class="slide_inner">
                            <div class="sl_inner">
                                <div class="text_swiper">
                                    <h3 class="text-orange">Requirement Discussion</h3>
                                    <p class="text-white text-justify">
                                    Scrum is a lightweight agile project management framework generally used to manage defined iterative and incremental types of projects. Implementing Scrum can break large complex projects into smaller stages, reviewing and adapting simultaneously.
                                </p>
                                </div>
                                <h4 class="font-light text-4xl mb-8 text-orange" style="font-size: 2.5rem; margin-top: 3rem;">Benefits</h4>
                                <ul class="sec3_arrow">
                                    <li class="text-white">Analyse Project Requirement</li>
                                    <li class="text-white">Understand Users Need</li>
                                    <li class="text-white">Define Refine Project Scope</li>
                                    <li class="text-white">Fix suitable Technologies Dependencies</li>
                                    <li class="text-white">Final Detailed Proposal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide">
                <div class="sec3-row mt-20">
                    <!-- Content for slide 2 -->
                    <div class="swiper-slide">
                        <div class="sec3-row mt-20">
                            <div class="swiper swiperhorslid">
                                <div class="slide_inner">
                                    <div class="sl_inner">
                                        <div class="text_swiper">
                                            <h3 class="text-orange">Wireframing and Designing</h3>
                                            <p class="text-white text-justify">
                                                Kanban is a lean development based methodology with a visual way to manage tasks & workflows, utilizing a Kanban board with columns & cards. The cards represent tasks, & the columns organize those tasks by their progress or current stage in development.
                                        </p>
                                        </div>
                                        <h4 class="font-light text-4xl mb-8 text-orange" style="font-size: 2.5rem; margin-top: 3rem;">Benefits</h4>
                                        <ul class="sec3_arrow column-count-2 sm-column-count-1">
                                            <li class="text-white">Mapping out Target UI/ Flow</li>
                                            <li class="text-white">Build Blueprint Structure</li>
                                            <li class="text-white">Wireframing each screen</li>
                                            <li class="text-white">Prototyping the App</li>
                                            <li class="text-white">Polishing the Design of App</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide">
                <div class="sec3-row mt-20">
                    <!-- Content for slide 3 -->
                    <div class="swiper-slide">
                        <div class="sec3-row mt-20">
                            <div class="swiper swiperhorslid">
                                <div class="slide_inner">
                                    <div class="sl_inner">
                                        <div class="text_swiper">
                                            <h3 class="text-orange"> Programming & Development</h3>
                                            <p class="text-white text-justify">
                                                eXtreme Programming (XP) is an Agile methodology that advocates frequent releases in short development cycles (timeboxing), which is intended to improve productivity and introduce checkpoints where new customer requirements can be adopted.
                                        </p>
                                        </div>
                                        <h4 class="font-light text-4xl mb-8 text-orange" style="font-size: 2.5rem; margin-top: 3rem;">Benefits</h4>
                                        <ul class="sec3_arrow">
                                            <li class="text-white">Start with Programming the App</li>
                                    <li class="text-white">Split Modules to Work in Parallel</li>
                                    <li class="text-white">Create Front-End</li>
                                    <li class="text-white">Create Back-End</li>
                                    <li class="text-white">Design Database</li>
                                    <li class="text-white">Manage Changing Requirements</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 4 -->
            <div class="swiper-slide">
                <div class="sec3-row mt-20">
                    <!-- Content for slide 4 -->
                    <div class="swiper-slide">
                        <div class="sec3-row mt-20">
                            <div class="swiper swiperhorslid">
                                <div class="slide_inner">
                                    <div class="sl_inner">
                                        <div class="text_swiper">
                                            <h3 class="text-orange">Testing & Debugging</h3>
                                            <p class="text-white text-justify">
                                                Feature Driven Development (FDD) is a production process which highly oriented on resulting out small blocks of client valued functionality. This drives developers to come up with working features once every two weeks typically and it can track down the project progress with precision.
                                        </p>
                                        </div>
                                        <h4 class="font-light text-4xl mb-8 text-orange" style="font-size: 2.5rem; margin-top: 3rem;">Benefits</h4>
                                        <ul class="sec3_arrow">
                                            <li class="text-white">Identify Test Types</li>
                                            <li class="text-white">Develop Test Cases</li>
                                            <li class="text-white">Usability Performance Testing</li>
                                            <li class="text-white">Security Compliance Testing</li>
                                            <li class="text-white">Final Bug Testing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="sec3-row mt-20">
                    <!-- Content for slide 4 -->
                    <div class="swiper-slide">
                        <div class="sec3-row mt-20">
                            <div class="swiper swiperhorslid">
                                <div class="slide_inner">
                                    <div class="sl_inner">
                                        <div class="text_swiper">
                                            <h3 class="text-orange">Deployment & Maintenance</h3>
                                            <p class="text-white text-justify">
                                                Feature Driven Development (FDD) is a production process which highly oriented on resulting out small blocks of client valued functionality. This drives developers to come up with working features once every two weeks typically and it can track down the project progress with precision.
                                        </p>
                                        </div>
                                        <h4 class="font-light text-4xl mb-8 text-orange" style="font-size: 2.5rem; margin-top: 3rem;">Benefits</h4>
                                        <ul class="sec3_arrow">
                                            <li class="text-white">Deploy Project on Server</li>
                                            <li class="text-white">Make it live for End User</li>
                                            <li class="text-white">Analyse User Response Feedback</li>
                                            <li class="text-white">Create Maintenance Plan</li>
                                            <li class="text-white">Update with Version Controlling</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Navigation -->
        <div class="swiper-arrow">
            <div class="swiper-button-prev swiper-button-disabled">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg>
            </div>
            <div class="swiper-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            </div>
        </div>
        <div class="swiper-pagination display-none"></div>
    </div>
</section>