<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../input.css">
</head>
<body>
    <section>
        <div class="container grid grid1x1">
            <div class="sec1-col1">
                <div class="sec1-title">
                    <h1>Development Process</h1>
                </div>
                <p class="sec1-desc">Aglowid follows a comprehensive development process to ensure that our esteemed clients get the best quality enterprise-grade IT solutions to meet their specific needs. From initial planning to design & development, custom testing, deployment, and post-deployment maintenance services, we offer an end-to-end development process.</p>
                <p class="sec1-desc">Our Agile and SCRUM methodology allow us to streamline the development process & deliver a high-quality app that meets your expectations. Aglowid provides regular updates and follows a transparent development process with an assigned project manager who keeps you in the loop about all the development efforts and sprint deliverables.</p>
                <ul class="sec1_arrow">
                    <li>Follow Agile and SCRUM Methodologies</li>
                    <li>Test-Driven Development</li>
                    <li>Industry-Grade SDLC process</li>
                    <li>Post-deployment maintenance & services</li>
                </ul>
            </div>
            <div class="card">
                <div class="col2">
                    <div class="sec1-formHeader">
                        <h3>Get Your Project SDLC
                            <img class="form-svg" src="/components/images/recycle.svg" alt="">
                        </h3>
                            </div>
                    <form class="sec1-form" aria-label="Contact form" novalidate="novalidate" data-status="init">
                        <div>
                            <p><input size="40" aria-required="true" aria-invalid="false" placeholder="Name" value="" type="text" name="FullName" /></p>
                        </div>
                        <div>
                            <p><input size="40" aria-required="true" aria-invalid="false" placeholder="Email Address" value="" type="email" name="E-mail" /></p>
                        </div>
                        <div>
                            <p><input size="40" aria-required="true" aria-invalid="false" placeholder="Mobile Number" value="" type="tel" name="MobileNumber" /></p>
                        </div>
                        <div>
                            <p><select  name="Developer"  style="font-size: 17px;">
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Hourly Based">Hourly Based</option>
                                <option value="Flexible">Flexible</option>
                            </select></p>
                        </div>
                        <div>
                            <p><input size="40" aria-required="true" aria-invalid="false" placeholder="Message" value="" type="tel" name="MobileNumber" /></p>
                        </div>
                        <div>
                            <div class="work_details">
                            <div class="work_detailsflex">
        
                                        <p class="icon-container callus-icon">
                                            <img  src="/components/images/callus.jpg" alt="">
                                        </p>
                                <div class="work-details">
                                    <p>Or Call us at
                                    </p>
                                    <p class="bold-text">+1 770 796 0077</p>
                                </div>
                            </div>
                           <div>
                                <p class="callus-btn">
                                    <button class="btn btn--accent btn--stretched">Submit </button>
                                </p>
                            </div>
        
                            </div>
                            <div class="callus-btnStretched">
                                <button class="btn btn--accent btn--block">Submit</button>
                            </div>
                            <p><input type="hidden" id="hireurl" name="hireurl" value="" /></p>
        
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </section>
</body>
</html>


