<section class="select-us">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 ">
                <div class="dd_text">
                    <p class="text-black font-extrabold  no-margin-bottom" style="font-size: 3rem;">BUILD YOUR DREAM TEAM</p>
                    <p class="text-white font-weight-600 text-36 no-margin" style="font-size: 3rem;">WITH OUR DEDICATED <br class="display-block sm-display-none"><strong class="text-black">DEVELOPERS</strong></p>
                    <button class="btn btn--white">VIEW ENGAGEMENT MODELS</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 display-table">
                <div class="tp_text">
                    <p class="text-orange font-weight-400 text-26 no-margin-bottom" style="font-size: 3rem;">YOUR IDEA, OUR EXECUTION</p>
                    <p class="text-white font-weight-600 text-36 no-margin" style="font-size: 3rem;">CHOOSE US AS YOUR <br>  <strong class="text-orange">TECHNICAL PARTNER</strong></p>
                    <button class="btn btn--black">view partnership model</button>
                </div>
            </div>
        </div>
    </div>
</section>
